.error-section  {
    background-color:$main-color;
    text-align: center;
    margin-top: 70px;
    font-family: 'Rajdhani', sans-serif;
    color: white;
    font-size: 23px; 
    line-height: 60px;

    a {
        font-family: 'Rajdhani', sans-serif;
        color: white;
        margin-bottom: 40px;
    }

    img {
        width: 300px;
    }
}



@media screen and (min-width: 768px) {


    .error-section {

        img {
            width: 598px;
        }

    }



}



